
.container{
    padding: 5%;
    border: 10%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/508/128/original/watercolor-green-plant-free-png.png);
    }
#titulo{
    font-weight: bold;
    color: #395815;
    border-color: green;
    box-shadow: none;
    
}
#box{
    box-shadow: none;
}
li{
    list-style:none;
    background-color: none;
    border-color: #395815;
    display:flex;
    justify-content: space-around;
    
}
button{
 
    border: none;
    color: #395815;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 1.2em;
    border-radius: 10px;
}
